In [27]:
pwd

'C:\\st\\github\\Kag-Titanic'

In [28]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.cross_validation import train_test_split
pd.options.mode.chained_assignment = None

In [29]:
data = pd.read_csv("train.csv")
print(len(data))
#data_train.head()
median_age = data['Age'].dropna().median()
data['Age'].fillna(median_age, inplace=True)

print(len(data))

print(data.Age[:6])

891
891
0    22
1    38
2    26
3    35
4    35
5    28
Name: Age, dtype: float64

In [30]:
data_short = data[['Pclass', 'Sex', 'Age']]
data_short.head()

   Pclass     Sex  Age
0       3    male   22
1       1  female   38
2       3  female   26
3       1  female   35
4       3    male   35

In [31]:
data_short['Sex'] =  np.where(data_short['Sex']=='female', 0, 1)
data_short.head()

   Pclass  Sex  Age
0       3    1   22
1       1    0   38
2       3    0   26
3       1    0   35
4       3    1   35

In [32]:
data_survived = data[['Survived']]
data_survived.head()

   Survived
0         0
1         1
2         1
3         1
4         0

In [33]:
x_train, x_test, y_train, y_test = train_test_split(data_short, data_survived, test_size=0.33, random_state=42)
print(len(x_train))
print(len(x_test))

596
295

In [34]:
rf = RandomForestClassifier(n_estimators=100)
rf.fit(x_train, y_train)

C:\st\Anaconda3\lib\site-packages\IPython\kernel\__main__.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  from IPython.kernel.zmq import kernelapp as app

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [35]:
out = rf.predict(x_test)

In [36]:
rf.score(x_test, y_test)

0.78644067796610173

In [37]:
data['Age'].dropna().median()

28.0