In [58]:
pwd

'C:\\Users\\eshatiw\\Documents\\IPython Notebooks\\kag'

In [59]:
cd "C:\Users\eshatiw\Documents\IPython Notebooks\kag"

C:\Users\eshatiw\Documents\IPython Notebooks\kag

In [60]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
pd.options.mode.chained_assignment = None

In [72]:
data_train = pd.read_csv("train.csv")
print(len(data_train))
#data_train.head()
data_train.dropna(inplace=True)
print(len(data_train))

891
183

In [71]:
print(len(data_train))
data_test = data_train
#data_test = pd.read_csv("test.csv")
data_test.head()


data_test.dropna(inplace=True)

183

In [62]:
data_x_train = data_train[['Pclass', 'Sex', 'Age']]
data_x_test = data_test[['Pclass', 'Sex', 'Age']]
data_x_test.head()

    Pclass     Sex  Age
12       1  female   23
14       1  female   47
24       1  female   48
26       1  female   22
28       1    male   41

In [63]:
data_y_train = data_train[['Survived']]
data_y_train.head()

    Survived
1          1
3          1
6          0
10         1
11         1

In [64]:
data_x_train[:10]

    Pclass     Sex  Age
1        1  female   38
3        1  female   35
6        1    male   54
10       3  female    4
11       1  female   58
21       2    male   34
23       1    male   28
27       1    male   19
52       1  female   49
54       1    male   65

In [65]:
data_x_test['Sex'] =  np.where(data_x_test['Sex']=='female', 0, 1)
data_x_train['Sex'] =  np.where(data_x_train['Sex']=='female', 0, 1)

In [66]:
rf = RandomForestClassifier(n_estimators=100)
rf.fit(data_x_train, data_y_train)

C:\st\Anaconda3\lib\site-packages\IPython\kernel\__main__.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  from IPython.kernel.zmq import kernelapp as app

RandomForestClassifier(bootstrap=True, compute_importances=None,
            criterion='gini', max_depth=None, max_features='auto',
            max_leaf_nodes=None, min_density=None, min_samples_leaf=1,
            min_samples_split=2, n_estimators=100, n_jobs=1,
            oob_score=False, random_state=None, verbose=0)

In [69]:
out = rf.predict(data_x_test)

In [70]:
out

array([1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1,
       1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1,
       1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1], dtype=int64)