In [40]:
pwd

'C:\\st\\github\\Kag-Titanic'

In [41]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.cross_validation import train_test_split
pd.options.mode.chained_assignment = None

In [42]:
data = pd.read_csv("train.csv")
print(len(data))
#data_train.head()
data = data[np.isfinite(data['Age'])] this line drops na
#median_age = data['Age'].dropna().median()
data['Age'].fillna(median_age, inplace=True)
print(len(data))

891
891

In [43]:
data_test = pd.read_csv("test.csv")
print(len(data_test))

data_test_short = data_test[['Pclass', 'Sex', 'Age']]
data_test_short['Sex'] =  np.where(data_test_short['Sex']=='female', 0, 1)

median_age = data_test_short['Age'].dropna().median()

data_test_short['Age'].fillna(median_age, inplace=True)
print(data_test_short.head())

418
   Pclass  Sex   Age
0       3    1  34.5
1       3    0  47.0
2       2    1  62.0
3       3    1  27.0
4       3    0  22.0

In [44]:
data_short = data[['Pclass', 'Sex', 'Age']]
data_short.head()

   Pclass     Sex  Age
0       3    male   22
1       1  female   38
2       3  female   26
3       1  female   35
4       3    male   35

In [45]:
data_short['Sex'] =  np.where(data_short['Sex']=='female', 0, 1)
data_short.head()

   Pclass  Sex  Age
0       3    1   22
1       1    0   38
2       3    0   26
3       1    0   35
4       3    1   35

In [46]:
data_survived = data[['Survived']]
data_survived.head()

   Survived
0         0
1         1
2         1
3         1
4         0

In [47]:
rf = RandomForestClassifier(n_estimators=100)
rf.fit(data_short, data_survived)

C:\st\Anaconda3\lib\site-packages\IPython\kernel\__main__.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  from IPython.kernel.zmq import kernelapp as app

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [48]:
pred = rf.predict(data_test_short)

In [49]:
csv_data = pd.DataFrame({ 'PassengerId': data_test['PassengerId'],
                            'Survived': pred })
csv_data.to_csv("titanic_kag.csv", index=False)